/* LIST OF COMMENTS Ctrl+F */

/* Variables */
/* Default settings turn off */
/* Inherited Settings */
/* Logo */
/* Nav & Contacts List */
/* Hero Section */
/* Buttons */
/* Section`s Titles */
/* Features Section */
/* Team Section */
/* Clients Section */
/* Portfolio Section */
/* Footer */



/* Variables */

:root {
    --brand-color: #757575;
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondary-color: #000000;
    --white-color: #FFFFFF;
    --white-opacity: rgba(255, 255, 255, .6);
    --bg-color: #2F303A;
    --button-color: #F5F4FA;
    --hero-button: #188CE8;
    --header-line: #ECECEC;
    --card-border:  #EEEEEE;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --icon-color: #AFB1B8;
    --icon-opacity: rgba(255, 255, 255, .1);
    --transition-duration: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* :focus { outline: none; } */

/* Default settings turn off */

ul, p, h1, h2, h3, h4, h5, h6 {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {text-decoration: none;}


/* Inherited Settings */

body {
    margin: 0;
    color: var(--brand-color);
    background-color: var(--white-color);
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    padding: 0;
    margin: 0;
}

/* Page Header */

.page-header {
    border-bottom: 1px solid var(--header-line);
}

/* Logo */

.logo {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-header {color: var(--secondary-color);}
.logo-footer {color: var(--white-color);}


/* Nav & Contacts List */

.container.header {
    display: flex;
    align-items: center; 
}

.nav, .nav-list, .contacts-list {
    display: flex;
    align-items: center;
}

.nav-list, .contacts-list {
    margin-left: 93px;
    gap: 50px;
}

.contacts-list {
margin-left: auto;
}

.nav-list a,
.contacts-list a {
    /* display: block; */
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    transition: color var(--transition-duration) var(--cubic-bezier);
}

.list a:hover,
.list a:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

.list .current {
    color: var(--accent-color);
}

/* Mentor`s notes - FIXED */
/* .list .current:hover,
.list .current:focus {
    color: var(--primary-color);
    text-decoration: underline;
} */
.contacts-list a {
    color: inherit;
}

.envelope-icon {
    margin-right: 10px;
    /* width: 16px;
    height: 12px; */
    fill: var(--brand-color);
}

.smartphone-icon {
    margin-right: 10px;
    /* width: 10px;
    height: 16px; */
    fill: var(--brand-color);
}


.contact-link {
    display: flex;
    align-items: flex-end;
}

.contact-link:hover .envelope-icon,
.contact-link:hover .smartphone-icon,
.contact-link:focus .envelope-icon,
.contact-link:focus .smartphone-icon {
    fill: var(--accent-color);
    stroke: var(--accent-color);
    stroke-width: 1px;
}

/* .contact-mail {
    display: block;
} */

/* .contact-item{
    display: flex;
    align-items: center;
} */

/* Hero Section */

.hero-section {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--white-color);
    background-image:
        linear-gradient(
            to left,
            var(--hero-gradient), 
            var(--hero-gradient)
        ),  url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    /* Mentor`s notes - FIXED */
    /* font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; */
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Buttons */

button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
}

.hero-button {
    padding: 10px 32px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    transition: background-color var(--transition-duration) var(--cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
    /* color: var(--secondary-color); */
    background-color: var(--hero-button);
}

.portfolio-button {
    padding: 6px 22px;
    color: var(--primary-color);
    background-color: var(--button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-color: transparent;

    transition: color var(--transition-duration) var(--cubic-bezier),
                background-color var(--transition-duration) var(--cubic-bezier),
                box-shadow var(--transition-duration) var(--cubic-bezier);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section`s Titles */

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.titles {
    color: var(--primary-color);
}

.occupation-title,
.team-title,
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Features Section */

.container.feature-section {
    display: flex;
}

.feature-section {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
    gap: 30px;
}

.feature-card {
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--button-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}  

/* What-we-do Section */

.occupation-title {
    text-align: center;
    margin-bottom: 50px;
}

.occupation-list {
    display: flex;
    gap: 30px;
}

/* Team Section */

.team-section {
    background-color: var(--button-color);
}

.team-title {
    text-align: center;
    margin-bottom: 50px;
} 
.team-list {
    display: flex;
    gap: 30px;
}

.team-card {
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team-function {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 16px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: transparent;
    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--cubic-bezier), border-radius var(--transition-duration) var(--cubic-bezier);
}

.social-thumb:hover,
.social-thumb:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.social-thumb:hover .icon,
.social-thumb:focus .icon {
    fill: var(--white-color);
} 

.icon {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--cubic-bezier);
    }

.icon:hover,
.icon:focus {
    fill: var(--white-color);
}

/* Clients Section */

.clients-title {
    text-align: center;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    gap: 30px;
    list-style: none;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    height: 92px;
    
}

.clients-item:hover,
.clients-item:focus  {
    /* border: 1px solid var(--accent-color); */
    outline: none;
}

.clients-item:hover .client-icon,
.clients-item:focus .client-icon {
    fill: var(--accent-color);
    outline: none;
}

.clients-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    cursor: pointer;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border var(--transition-duration) var(--cubic-bezier);
}

.clients-thumb:hover,
.clients-thumb:focus {
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    outline: none;
}

.clients-thumb:hover .client-icon,
.clients-thumb:focus .client-icon {
    fill: var(--accent-color);
    /* border: var(--accent-color); */
    outline: none;
}

.client-icon {
    fill: var(--icon-color);

    transition: fill var(--transition-duration) var(--cubic-bezier);
}

.client-icon:hover,
.client-icon:focus {
    /* fill: var(--accent-color); */
}

/* Portfolio Section */

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-set {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* padding-top: 94px; */
    /* padding-bottom: 34px; */
    margin-bottom: 50px;
}

.container > .card-set {
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 94px; */
    margin-left: -30px;
    margin-top: -30px;
}

.card-set > .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.card-link {
    display: inline-block;
    
    transition: box-shadow var(--transition-duration) var(--cubic-bezier);
}

a.card-link:link,
a.card-link:visited,
a.card-link:active {
    text-decoration: none;
    color: var(--brand-color);
}

a.card-link:hover,
a.card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.card-name {
    padding: 20px 24px;
    background-color: var(--white-color);
    border: 1px solid var(--card-border);
    border-top: 0;

}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* Footer */
.footer-styles {
    padding: 60px 0;
    background-color: var(--bg-color);
}



.container.footer {
    justify-content: flex-start;
    /* padding-top: 60px;
    padding-bottom: 60px; */
}

.footer {
    display: flex;
    align-items: baseline
}

.logo-div {
/* margin-top: 60px; */
margin-bottom: 20px;}

.logo-accent {
    padding: 0;
}

.footer-address {
    margin-bottom: 9px;
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* .footer-list:last-child {
    margin-top: 9px;
} */

.footer-item {
    margin-bottom: 9px;
}
.footer-item:last-child {
    margin-bottom: 0;
}

.footer-contacts {    
    /* padding-top: 4px;
    padding-bottom: 4px; */
    color: var(--white-opacity);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    transition: color var(--transition-duration) var(--cubic-bezier);
}

.socials {
    margin-left: 70px;
}

.socials-name {
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--icon-opacity);
    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--cubic-bezier);
}

.socials-footer:hover,
.socials-footer:focus {
    background-color: var(--accent-color);
    outline: none;
}

.footer-icon {
    fill: var(--white-color);
    }


.socials-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

}
